body {
  background-color: #999999;
  margin: 0px 10% 10% 10%;
  font-family: Times, Arial;
}

header h1 {
  margin: 0px;
  background-color: #fffd38;
  color: #000000;
  text-align: right;  
}

nav {
  margin: 0px;
  text-align: center;
  background-color: #0e7e12;
}

nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav li
{
  display: inline-block;
  padding: 0.5rem 0rem;
}

nav a {
  padding:0.5rem 3rem;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  text-decoration: none;
}

#content {
  background-color: #545549;
  margin: 0px;
  padding: 0px;
  height: 400px;
}

#content h1 {
  margin: 0px;
}

#content ul {
  list-style: none;
  text-align: center;
  color: #000000;
}

aside {
  float: right;
  width: 20%;
  height: 445px;
  background-color: #ffffff;
  background-image: url("http://www.literarygenius.info/images/william-shakespeare.jpg");
  background-repeat: no-repeat;
  background-size: 88%;
  background-position: center 200px;
}


.copyright {
  background-color: green;
  padding: 10px;
  margin: 0px;
  height: 25px;
  vertical-align: middle;
}