@media screen and (min-width: 650px) {


.top-nav ul{
  display: inline-block;
}

#toggle-icon {
  display: none;
}

.menu-icon{
  border-top:0; 
}

nav ul li{
  float: left;
}
nav ul li a{
  margin-left: 20px;
  margin-right: 20px;
}

.small {
  display: none;
}

.large {
  display: block;
}

}



@media screen and (min-width: 1000px){

.overlay {
  opacity: 0;  /*very important responsive things*/
}
.img-responsive:hover .overlay {
  opacity: 0.6; 
}

.grid-template {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item1 {
	grid-column: 1/7;
}

.item2, .item3, .item4 {
	grid-column:2/6;
}

.item5, .item7 {
	grid-column:1/4;
}

.item6, .item8 {
	grid-column:4/7;
}

}

